body{
    background-color: rgb(208, 208, 208);
}

.blue_box{
    height: 15vw;
    width: 30%;
    background-color:  #092081;
    position: fixed;
    top: 0px;
    left: 100px; 
    transform-origin: center;
    transform: rotate(90deg);
}

.title{
    color: rgb(173, 107, 0);
    font-family: ganache, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    top: 0px;
    left: 195px; 
    font-size: 5em;
}

.title_2{
    color: rgb(173, 107, 0);
    font-family: ganache, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    top: 45px;
    left: 170px; 
    font-size: 5em;
}

.author{
    color: black;
    font-family: ganache, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    left: 15px;
    bottom: 15px;
    position: fixed;
}

.quote{
    color: black;
    font-family: ganache, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    left: 15px;
    bottom: 5px;
    position: fixed;
}
.poem{
    color: black;
    font-family: ganache, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    position: relative;
    margin-top: 30px;   
    margin-left: 700px;
 
}


/* --------- SMART PHONE -------- */


@media only screen and (max-width: 800px){

    body{
        background-color: rgb(208, 208, 208);
    }
    
    .blue_box{
        height: 35vw;
        width: 65%;
        background-color:  #092081;
        position: absolute;
      right: 20%:
        left: 35%; 
        transform-origin: center;
        transform: rotate(90deg);
    }
    
    .title{
        color: rgb(173, 107, 0);
        font-family: ganache, sans-serif;
        font-weight: 400;
        font-style: normal;
        position: absolute;
        top: 0px;
        left: 33%; 
        right: 30%; 
        font-size: 5em;
    }
    
    .title_2{
        color: rgb(173, 107, 0);
        font-family: ganache, sans-serif;
        font-weight: 400;
        font-style: normal;
        position: absolute;
        left: 30%; 
        right: 30%; 
        top: 80px;
        font-size: 5em;
       
    }
    
    .author{
        color: black;
        font-family: ganache, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2.5em;
        position: relative;
        top: 250px; 
        margin-left: 29%;
        margin-right: 25%
    }
    
    .quote{
        color: black;
        font-family: ganache, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5em;
        position: absolute;
        top: 310px;
        margin-left: 25%;
        margin-right: 25%
    }
    .poem{
        color: black;
        font-family: ganache, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5em;
        position: absolute;
        top: 350px;  
        margin-left: 20%;
        margin-right: 20%
     
    }
    

}

/* --------- TABLETS -------- */

@media only screen and (min-width: 800px) and (max-width: 1050px) {

    body{
        background-color: rgb(208, 208, 208);
    }
    
    .blue_box{
        height: 25vw;
        width: 30%;
        background-color:  #092081;
        position: absolute;
        top: 0px;
        left: 35.3%; 
        right: 30%;
        transform-origin: center;
        transform: rotate(90deg);
    }
    
    .title{
        color: rgb(173, 107, 0);
        font-family: ganache, sans-serif;
        font-weight: 400;
        font-style: normal;
        position: absolute;
        margin-top: 30px;
        left: 40%; 
        font-size: 5em;
        right: 30%;
    }
    
    .title_2{
        color: rgb(173, 107, 0);
        font-family: ganache, sans-serif;
        font-weight: 400;
        font-style: normal;
        position: absolute;
        top: 45px;
        font-size: 5em;
        left: 37%; 
        right: 30%;
       
    }
    
    .author{
        color: black;
        font-family: ganache, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2.5em;
        position: relative;
        top: 250px; 
        left: 40%; 
        right: 30%;
    }
    
    .quote{
        color: black;
        font-family: ganache, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5em;
        position: absolute;
        top: 310px;
        left: 38%; 
    }
    .poem{
        color: black;
        font-family: ganache, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5em;
        position: absolute;
        top: 350px;  
        margin-left: 30%;
        margin-right: 20%;
     
    }
    
    

}
